@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@theme {
    --color-button-gradient: linear-gradient(to right, #FF3F3A, #F75E05);
    --font-lato: Lato, sans-serif;
    --color-primary: #ff3f3a;
}