@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.active {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
}

.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev svg,
.swiper-button-next svg {
  display: none;
}

.second-swiper-pag span {
  width: 30px !important;
  height: 3px !important;
  border-radius: 3px !important;
  background-color: #000 !important;
}

/* Grid orqali silliq o'tishli animatsiya */

.menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in-out;
  overflow: hidden;
}
.menu.open {
  grid-template-rows: 1fr;
}
.menu > .container {
  overflow: hidden;
  min-height: 0;
}

.show-menu{
  width: 150px;
  padding: 10px;
  border-radius: 5px;
}
.show-menu a{
  display: inline-block;
  padding: 5px 0;
}

.list-item:hover .show-menu{
  display: block;
}

.dr-link,
.dr-link2,
.dr-link3 {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms ease-in-out;
  overflow: hidden;
}
.dr-link.open,
.dr-link2.open,
.dr-link3.open {
  width: 100%;
  grid-template-rows: 1fr;
}
.dr-link > *,
.dr-link2 > *,
.dr-link3 > * {
  overflow: hidden;
  min-height: 0;
}

.dr-inner {
  overflow: hidden;
  min-height: 0;
}


.swiper-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}