@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.active{
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
}

.scrolled{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev svg,
.swiper-button-next svg{
  display: none;
}

.second-swiper-pag span{
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
  background-color: #000 !important;
}